[packages]
pypdf = "*"
pytest ="*"
assignment0 = {path = "."}
assignment2 = {path = "."}
googlemaps = "*"
openmeteo-requests = "*"
requests-cache = "*"
retry-requests = "*"
numpy = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
